<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke">
  <test thread-count="5" name="Smoke">
  
  <parameter name = "test site URL" value = "https://www.saucedemo.com/" />
  <parameter name = "test site name" value = "SauceDemo.com" />
  <parameter name = "Browser" value = "chrome" />
  <parameter name = "username" value = "standard_user" />
  <parameter name = "password" value = "secret_sauce" />
    <classes>
      <class name="com.project.Testcases.BaseClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
